header{
  height : 40px;
  margin : 10px;
  vertical-align: middle;
  text-align : center;
  background : black;
  height : 50px;
  padding-bottom : 10px;
}
header div{
  display : inline;
  padding-bottom : 10;
  color : white;
  font-size : 30px;
}


nav {
  margin : 10px;
}

nav ul{
  list-style : none;
  text-align : center;
  border-top : 1px solid black;
  border-bottom : 1px solid black;
  padding : 15px 0;
  margin :0;
}

nav ul li{
  margin-top : auto;
  display : inline;
  text-transform : uppercase;
  padding : 0 30px;
  letter-spacing : 5px;
}

nav ul li a{
  text-decoration : none;
  color : black;
}
nav ul li a:hover {
  text-decoration : underline;
  color : orange;
}



aside#left{
  width : 15%;
  float: left;
}
#left h3{
  background : #e3e3e3;
  text-align : center;
  margin-bottom : 0;
  margin-top : 0;
}
#left ul{
  color : #fff;
  list-style : none;
  /*text-indent : 15px;*/
  padding : 0;
  margin : 0;
}
#left ul li{
  background : /*#3f3f3f*/ #FF7012;
  font-size : 15px;
  padding : 5px;
}


#left ul li a{
  text-decoration : none;
  color : #fff;
  display : block;
}
#left ul li a:hover{
  background : #d03
}




#main {
  color : #444;
  overflow : hidden;
  width : 85%;
  height : 500px;
}


footer {
  clear : both;
  text-align : center;
}
